.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.formInput {
  margin-bottom: 35px;
  width: 400px;
  height: 30px;
  padding: 8px;
  border-radius: 5px;
}

.formBtn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #813dc6;
}

.formBtn:hover {
  background-color: black;
  color: azure;
}
